.hero {
  padding-top: 100px;
  padding-bottom: 30px;
  background-image: white;
  border-bottom: 2px solid #fafafa
}

.container-hero {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: flex;
}

.hero-left {
  width: 55%;
  height: 100%;
  padding-top: 109px;
}

.hero-left h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 10px;
  color: rgb(70, 70, 70);
}

.hero-left h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-bottom: 34px;
  color: rgb(70, 70, 70)
}

.hero-left p {
  font-size: 13px;
  font-weight: normal;
  color: whitesmoke;
  margin-bottom: 43px;
}

.hero-btn {
  background-color: #298eea;
  border: none;
  color: whitesmoke;
  padding: 12px 35px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 1s;
}

.hero-btn:hover {
  color: #fff;
  background: #2769be;
  transition: all 1s;
}

.hero-right {
  width: 45%;
  height: 100%;
  margin-top: 40px;
}

.img-rmd {
  width: 100%;
  height: 400px;
  background-image: url(../images/illustration_banner_PHP_hosting-01.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-list-item {
  list-style: none;
  padding-left: 0;
}

.hero-list-item-content {
  position: relative;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  color: rgb(70, 70, 70);
}

.hero-list-item-content span {
  padding-right: 10px;
  color: rgb(75, 175, 75);
}