.nh-modul {
  padding: 20px 0;
  background: whitesmoke;
}

.heading-modul {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 32px;
  font-weight: normal;
  color: rgb(70, 70, 70);
}

.modul-contents {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modul-item {
  flex-basis: 2%;
  text-align: left;

}

.modul-item h5 {
  font-size: 14px;
  font-weight: normal;
  color: rgb(70, 70, 70);
  line-height: 1.5;
}

.modul-btn {
  width: 40%;
  padding: 0 15px;
  margin: 30px auto;
  text-align: center;
  display: block;
}

.btn-modul {
  background-color: whitesmoke;
  border: none;
  color: rgb(70, 70, 70);
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 0.5px solid rgb(70, 70, 70);
  transition: all 1s;
}


.btn-modul:hover {
  color: #fff;
  background: rgb(70, 70, 70);
  transition: all 1s;
}