.nh-bantuan {
  padding: 75px 0;
  background-color: #298eea;
}

.bantuan-contents {
  display: flex;
  flex-wrap: wrap;
}

.bantuan-text {
  flex-basis: 70%;
  padding: 0 15px;
  text-align: right;
}

.bantuan-text h3 {
  padding-right: 50px;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
  border-right:
    0.5px solid #e4e4e4;
}

.bantuan-btn {
  flex-basis: 30%;
  padding: 0 15px;
  margin: auto 0;
  text-align: center;
  display: block;
}

.btn-bantuan {
  background-color: #298eea;
  border: none;
  color: whitesmoke;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 0.5px solid whitesmoke;
  transition: all 1s;
}

.btn-bantuan span {
  padding-right: 10px;
}

.btn-bantuan:hover {
  color: #fff;
  background: #2769be;
  transition: all 1s;
}