.nh-powerful {
  padding: 20px 0 40px 0;
  background: white;
}

.heading-powerful {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 32px;
  font-weight: normal;
  color: rgb(70, 70, 70);
}

.powerful-contents {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center {
  background-color: rgb(224, 223, 223);
}

.powerful-item {
  flex-basis: 40%;
  text-align: left;
  border: 1px solid rgb(224, 223, 223);
  display: flex;
  align-items: center;
  padding: 5px;
}

.powerful-icon {
  flex-basis: 10%;
  font-size: 20px;
  padding-left: 10px;
  color: rgb(75, 175, 75);
}

.powerful-text {
  flex-basis: 90%;
  text-align: center;
}

.powerful-item h5 {

  font-size: 16px;
  font-weight: normal;
  color: rgb(70, 70, 70);
  line-height: 1.5;
  text-align: center;
}