.mendukung {
  padding-top: 20px;
  /* padding-bottom: 30px; */
  background-image: white;
  border-bottom: 2px solid #fafafa
}

.container-mendukung {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;

}

.heading-mendukung {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 32px;
  font-weight: normal;
  color: rgb(70, 70, 70);
}

.content-mendukung {
  display: flex;
}

.mendukung-left {
  width: 50%;
  height: 100%;
  padding-top: 30px;
}

.mendukung-left h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 10px;
  color: rgb(70, 70, 70);
}

.mendukung-left h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-bottom: 34px;
  color: rgb(70, 70, 70)
}

.mendukung-left p {
  font-size: 12px;
  font-weight: normal;
  color: rgb(70, 70, 70);
  margin-bottom: 20px;
}

.mendukung-btn {
  background-color: #fb8c00;
  border: none;
  color: whitesmoke;
  padding: 12px 35px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}

.mendukung-btn:hover {
  color: #fff;
  background: #ff6634;
  transition: all 1s;
}

.mendukung-right {
  width: 50%;
  height: 100%;
  margin-top: 70px;
}

.img-mendukung {
  width: 100%;
  height: 300px;
  background-image: url(../images/illustration_banner_support_laravel_hosting.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mendukung-list-item {
  list-style: none;
  padding-left: 0;
}

.mendukung-list-item-content {
  position: relative;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: rgb(70, 70, 70);
}

.mendukung-list-item-content span {
  padding-right: 10px;
  color: rgb(75, 175, 75);
}

.btn-mendukung {
  background-color: #298eea;
  border: none;
  color: whitesmoke;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 1s;
}

.btn-mendukung:hover {
  color: #fff;
  background: #2769be;
  transition: all 1s;
}