.navbar {
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 10px;
  background-image: linear-gradient(45deg,
      #00349b,
      rgba(0, 92, 255, 0.9219),
      #007aff);
  /*background-color: whitesmoke;*/
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-top {
  width: 100%;
  height: 21px;
  /*background-color: cadetblue;*/
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.topnav {
  padding: 0 16px;
  color: whitesmoke;
  font-weight: normal;
  font-size: 12px;
}

.topnav-user {
  padding: 0 16px;
  color: whitesmoke;
  font-weight: normal;
  font-size: 14px;
}

.topnav-user span {
  margin-right: 10px;
  font-size: large;
}

.topnav span {
  margin-right: 10px;
}

.cart {
  padding-left: 16px;
  color: whitesmoke;
  font-weight: normal;
  font-size: 12px;
}

.cart span {
  margin-right: 10px;
}

.navbar-bottom {
  width: 100%;
  height: 68px;
  /*background-color: chocolate;*/
  display: flex;
  justify-content: flex-start;
}

.logo-link {
  width: auto;
  height: auto;
}

.nh-logo {
  margin-right: 16px;
}

.navbar-bottom-list {
  line-height: 68px;
}

.navbar-list {
  display: flex;
  list-style: none;
}

.nv-list {
  padding: 0 10px;
}

.nv-list a:hover {
  font-weight: bold;
  transform: scale(1.02);
  transition: all .2s;
  width: auto;
  height: auto;
}

.nv-list-item {
  color: whitesmoke;
  text-decoration: none;
  font-weight: normal;
  padding: 8px;
}

.nv-login {
  padding-left: 10px;
}

.nv-list-login {
  color: whitesmoke;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  border: 1px solid whitesmoke;
  padding: 7px 18px;
  border-radius: 50px;
}