.linux {
  padding-top: 20px;
  /* padding-bottom: 30px; */
  background-image: white;
  border-bottom: 2px solid #fafafa
}

.container-linux {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;

}

.content-linux {
  display: flex;
  justify-content: space-around;
}

.linux-left {
  width: 50%;
  height: 100%;
  padding-top: 10px;
}

.linux-left h2 {
  font-size: 35px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: rgb(70, 70, 70)
}

.linux-left p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.5;
  color: rgb(70, 70, 70);
  margin-bottom: 20px;
}

.linux-right {
  width: 50%;
  height: 100%;
  margin-top: 70px;
}

.img-linux {
  width: 100%;
  height: 300px;
  background-image: url(../images/Image_support.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-linux {
  background-color: #298eea;
  border: none;
  color: whitesmoke;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 1s;
}

.btn-linux:hover {
  color: #fff;
  background: #2769be;
  transition: all 1s;
}