.nh-semua {
  padding: 20px 0 40px 0;
  background: white;
}

.divider {
  width: 10%;
  height: 2px;
  background-color: rgb(224, 223, 223);
  margin: auto;
}

.heading-semua {
  text-align: center;
  margin: 20px 0 40px 0;
  font-size: 32px;
  font-weight: normal;
  color: rgb(70, 70, 70);
}

.semua-contents {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.semua-item {
  flex-basis: 32%;
  text-align: center;
  align-items: center;
  color: rgb(70, 70, 70)
}

.semua-icon {
  width: 40%;
  height: 70px;
  margin: 0 auto 10px auto;
}

.semua-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.semua-title {
  font-size: 20px;
  line-height: 1.5;
}

.semua-deskripsi {
  width: 90%;
  line-height: 1.5;
  margin: auto;
}