.nh-social {
  padding: 20px 0;
  background: rgb(247, 247, 247);
}

.social-contents {
  display: flex;
  flex-wrap: wrap;
}

.social-text {
  flex-basis: 50%;
  text-align: left;
}

.social-text h5 {
  padding-right: 50px;
  font-size: 20px;
  font-weight: normal;
  color: #999999;
  line-height: 2;
}

.social-icon {
  flex-basis: 50%;
  padding: 0 15px;
  margin: auto;
  text-align: center;
  display: block;
  color: #999999;
  line-height: 1.5;
  font-size: 30px;
}

.social-icon span {
  padding-right: 20px;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #55acee;
}

.google {
  color: #ee4957;
}

.btn-social {
  background-color: #298eea;
  border: none;
  color: whitesmoke;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 0.5px solid whitesmoke;
  transition: all 1s;
}

.btn-social span {
  padding-right: 10px;
}

.btn-social:hover {
  color: #fff;
  background: #2769be;
  transition: all 1s;
}